<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>

    <tr th:each="game : ${games}" >
        <td th:text="MatchId: ${game.matchId}"></td>
        <td th:text="gameType: ${game.gameType}"></td>
        <td th:text="game creation : ${game.gameCreation}"></td>
        <td th:text="game duration: ${game.gameDuration}"></td>
        <td th:text="end: ${game.gameEndTimestamp}"></td>
        <td th:text="start: ${game.gameStartTimestamp}"></td>
        <td th:text="mode: ${game.gameMode}"></td>
        <td th:text="name: ${game.gameName}"></td>
    </tr>
</head>
<body>
<h1>Game</h1>
</body>
</html>