<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>

    <tr th:each="game : ${games}" >
        <td th:text="${game.matchId}"></td>
        <td th:text="${game.gameType}"></td>
        <td th:text="${game.gameCreation}"></td>
        <td th:text="${game.gameDuration}"></td>
        <td th:text="${game.gameEndTimestamp}"></td>
        <td th:text="${game.gameStartTimestamp}"></td>
        <td th:text="${game.gameMode}"></td>
        <td th:text="${game.gameName}"></td>
    </tr>
</head>
<body>
<h1>Game</h1>
</body>
</html>