<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>

    <tr th:each="game : ${games}" >
        <td th:text="${game.matchId}">match id </td>
        <td th:text="${game.gameType}">type </td>
        <td th:text="${game.gameCreation}">game creation </td>
        <td th:text="${game.gameDuration}">game duration </td>
        <td th:text="${game.gameEndTimestamp}">end </td>
        <td th:text="${game.gameStartTimestamp}">start </td>
        <td th:text="${game.gameMode}">mode </td>
        <td th:text="${game.gameName}">name </td>
    </tr>
</head>
<body>
<h1>Game</h1>
</body>
</html>