<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Local</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-body">

<div class="container-fluid p-0 header">
    <div class="container-fluid d-flex px-5 py-3 header-title">
        <div class="col-3 header-title-logo">
            <img th:src="@{/images/logo/logo_with_text.png}" class="img-fluid" alt="LoLAnalyzer">
        </div>

        <div class="col-6 text-center header-title-text align-items-center justify-content-center">Live-анализ матча</div>

        <div class="col-3 text-center header-title-percent align-items-center justify-content-center">Вероятность победы в матче:</div>
    </div>

    <div class="container-fluid d-flex p-0 header-table-title">
        <div class="col-1 py-3 align-items-center justify-content-center border-r">Параметр</div>

        <div class="col-5 d-flex border-r align-items-center" style="background-color: #9c2020">
            <div class="col-2 py-3">
                <div class="align-items-center justify-content-center player-name">Barsatar</div>
                <div><img th:src="@{/images/champions/Akali.webp}" class="img-fluid" alt="Игрок 1"></div>
                <div class="align-items-center justify-content-center champion-name">Akali</div>
            </div>
            <div class="col-2 py-3">
                <div class="align-items-center justify-content-center player-name">Barsatar</div>
                <div><img th:src="@{/images/champions/Ahri.webp}" class="img-fluid" alt="Игрок 1"></div>
                <div class="align-items-center justify-content-center champion-name">Ahri</div>
            </div>
            <div class="col-2 py-3">
                <div class="align-items-center justify-content-center player-name">Barsatar</div>
                <div><img th:src="@{/images/champions/Akali.webp}" class="img-fluid" alt="Игрок 1"></div>
                <div class="align-items-center justify-content-center champion-name">Akali</div>
            </div>
            <div class="col-2 py-3">
                <div class="align-items-center justify-content-center player-name">Barsatar</div>
                <div><img th:src="@{/images/champions/Ahri.webp}" class="img-fluid" alt="Игрок 1"></div>
                <div class="align-items-center justify-content-center champion-name">Ahri</div>
            </div>
            <div class="col-2 py-3">
                <div class="align-items-center justify-content-center player-name">Barsatar</div>
                <div><img th:src="@{/images/champions/Akali.webp}" class="img-fluid" alt="Игрок 1"></div>
                <div class="align-items-center justify-content-center champion-name">Akali</div>
            </div>
            <div class="col-2 py-3">
                <img th:src="@{/images/nexus/redNexus.webp}" class="img-fluid" alt="Красная команда">
            </div>
        </div>

        <div class="col-1 py-3 text-center align-items-center justify-content-center border-r">
            <img th:src="@{/images/all/vs.png}" class="img-fluid" alt="VS">
        </div>

        <div class="col-5 d-flex align-items-center" style="background-color: #4228af">
            <div class="col-2 py-3">
                <img th:src="@{/images/nexus/blueNexus.webp}" class="img-fluid" alt="Синяя команда">
            </div>
            <div class="col-2 py-3">
                <div class="align-items-center justify-content-center player-name">Barsatar</div>
                <div><img th:src="@{/images/champions/Akali.webp}" class="img-fluid" alt="Игрок 1"></div>
                <div class="align-items-center justify-content-center champion-name">Akali</div>
            </div>
            <div class="col-2 py-3">
                <div class="align-items-center justify-content-center player-name">Barsatar</div>
                <div><img th:src="@{/images/champions/Ahri.webp}" class="img-fluid" alt="Игрок 1"></div>
                <div class="align-items-center justify-content-center champion-name">Ahri</div>
            </div>
            <div class="col-2 py-3">
                <div class="align-items-center justify-content-center player-name">Barsatar</div>
                <div><img th:src="@{/images/champions/Akali.webp}" class="img-fluid" alt="Игрок 1"></div>
                <div class="align-items-center justify-content-center champion-name">Akali</div>
            </div>
            <div class="col-2 py-3">
                <div class="align-items-center justify-content-center player-name">Barsatar</div>
                <div><img th:src="@{/images/champions/Ahri.webp}" class="img-fluid" alt="Игрок 1"></div>
                <div class="align-items-center justify-content-center champion-name">Ahri</div>
            </div>
            <div class="col-2 py-3">
                <div class="align-items-center justify-content-center player-name">Barsatar</div>
                <div><img th:src="@{/images/champions/Akali.webp}" class="img-fluid" alt="Игрок 1"></div>
                <div class="align-items-center justify-content-center champion-name">Akali</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-0 border-b">
    <div class="container-fluid d-flex p-0">
        <div class="col-1 py-3 align-items-center justify-content-center">Параметр</div>

        <div class="col-5 d-flex align-items-center">
            <div class="col-2 py-3">Значение</div>
            <div class="col-2 py-3">Значение</div>
            <div class="col-2 py-3">Значение</div>
            <div class="col-2 py-3">Значение</div>
            <div class="col-2 py-3">Значение</div>
            <div class="col-2 py-3">Значение</div>
        </div>

        <div class="col-1 py-3 text-center align-items-center justify-content-center">Значение</div>

        <div class="col-5 d-flex align-items-center">
            <div class="col-2 py-3">Значение</div>
            <div class="col-2 py-3">Значение</div>
            <div class="col-2 py-3">Значение</div>
            <div class="col-2 py-3">Значение</div>
            <div class="col-2 py-3">Значение</div>
            <div class="col-2 py-3">Значение</div>
        </div>
    </div>
</div>



<!--
<h1 id="title"></h1>
<div style="display: flex">
    <th:block th:each="champion : ${champions}">
        <div th:id="${champion}" style="display: inline; margin-right: 15px">
            <h6 class="name"></h6>
            <th:block th:each="value : ${values}">
                <h6 style="" th:class="${value}"></h6>
            </th:block>
        </div>

    </th:block>
    <div id="diff" style="display: inline">
        <h6 class="name"></h6>
        <th:block th:each="value : ${values}">
            <h6 th:class="${value}"></h6>
        </th:block>
    </div>
</div>
-->

<script type="text/javascript">

var index = 0;

var intervalId = setInterval(function() {
  $.ajax({
        type: "GET",
        url: "/local/status",
        data: jQuery.param({index: index}),

        success: function(response){
            if(!response.working){
                $('#title').html(
                    "Game not found"
                );
            }
            else{
                $('#title').html(
                    "Game is on"
                );
                if(index != 10){
                var element = $('#' + ('Champion' + (index +1)));
                    element.find('.name').html(response.summonerName);
                    element.find('.abilityPower').html("Ability Power: " + response.abilityPower);
                    element.find('.armor').html("Armor: " + response.armor);
                    element.find('.attackDamage').html("Attack damage: " + response.attackDamage);
                    element.find('.attackSpeed').html("Attack Speed: " + response.attackSpeed);
                    element.find('.healthMax').html("Max health: " + response.healthMax);
                    element.find('.lifesteal').html("Lifesteal: " + response.lifesteal);
                    element.find('.magicResist').html("Magic resist: " + response.magicResist);
                    element.find('.movementSpeed').html("Movement Speed: " + response.movementSpeed);
                    element.find('.powerMax').html("Power max: " + response.powerMax);
                }
                else{
                 var element = $('#diff');
                     element.find('.name').html(response.summonerName);
                    element.find('.abilityPower').html("Ability Power: " + response.abilityPower);
                    element.find('.armor').html("Armor: " + response.armor);
                    element.find('.attackDamage').html("Attack damage: " + response.attackDamage);
                    element.find('.attackSpeed').html("Attack Speed: " + response.attackSpeed);
                    element.find('.healthMax').html("Max health: " + response.healthMax);
                    element.find('.lifesteal').html("Lifesteal: " + response.lifesteal);
                    element.find('.magicResist').html("Magic resist: " + response.magicResist);
                    element.find('.movementSpeed').html("Movement Speed: " + response.movementSpeed);
                    element.find('.powerMax').html("Power max: " + response.powerMax);
                }
            }


         }
    });

    index++;
    if(index > 10){
        index=0;
    }
}, 250);

</script>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

<style>
    .bg-body {
        background-color: #cac5e9;
    }

    .header {
        background-color: #9f99c7;
    }

    .header-title-text {
        font-size: 50px
    }

    .header-table-title {
        border-top: 4px solid #570267;
        border-bottom: 4px solid #570267;
    }

    .border-r {
        border-right: 4px solid #570267;
    }

    .border-b {
        border-bottom: 4px solid #570267;
    }

    .align-items-center {
        display: flex;
        align-items: center;
    }

    .player-name {
        color: #cab1d7;
        padding-bottom: 5px;
        font-size: 18px;
    }

    .champion-name {
        color: #cab1d7;
        padding-top: 5px;
        font-weight: bold;
        font-size: 18px;
    }
</style>