<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Local</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-body">

<div class="container-fluid p-0 header">
    <div class="container-fluid d-flex px-5 py-3 header-title">
        <div class="col-3 header-title-logo">
            <img th:src="@{/images/logo/logo_with_text_dark.png}" class="img-fluid" alt="LoLAnalyzer">
        </div>

        <div class="col-6 text-center header-title-text align-items-center justify-content-center">
            <img th:src="@{/images/all/title.png}" class="img-fluid" alt="Live-анализ матча">
        </div>

        <div class="col-3 text-center header-title-percent align-items-center justify-content-center">
            <div class="mr-2">Прогноз: </div>
            <div id="id_win_chance"></div>
        </div>
    </div>

    <div class="container-fluid d-flex p-0 header-table-title">
        <div class="col-1 py-2 align-items-center justify-content-center border-r param-text">Параметр</div>

        <div class="col-1 py-1 bg-blue">
            <div class="align-items-center justify-content-center player-name" id="id_summoner_name_1"></div>
            <div id="id_div_avatar_1"><img src="" class="img-fluid" title="" id="id_avatar_1" alt="Игрок 1"></div>
            <div class="align-items-center justify-content-center champion-name" id="id_champion_name_1"></div>
        </div>
        <div class="col-1 py-1 bg-blue">
            <div class="align-items-center justify-content-center player-name" id="id_summoner_name_2"></div>
            <div id="id_div_avatar_2"><img src="" class="img-fluid" title="" id="id_avatar_2" alt="Игрок 2"></div>
            <div class="align-items-center justify-content-center champion-name" id="id_champion_name_2"></div>
        </div>
        <div class="col-1 py-1 bg-blue">
            <div class="align-items-center justify-content-center player-name" id="id_summoner_name_3"></div>
            <div id="id_div_avatar_3"><img src="" class="img-fluid" title="" id="id_avatar_3" alt="Игрок 3"></div>
            <div class="align-items-center justify-content-center champion-name" id="id_champion_name_3"></div>
        </div>
        <div class="col-1 py-1 bg-blue">
            <div class="align-items-center justify-content-center player-name" id="id_summoner_name_4"></div>
            <div id="id_div_avatar_4"><img src="" class="img-fluid" title="" id="id_avatar_4" alt="Игрок 4"></div>
            <div class="align-items-center justify-content-center champion-name" id="id_champion_name_4"></div>
        </div>
        <div class="col-1 py-1 bg-blue">
            <div class="align-items-center justify-content-center player-name" id="id_summoner_name_5"></div>
            <div id="id_div_avatar_5"><img src="" class="img-fluid" title="" id="id_avatar_5" alt="Игрок 5"></div>
            <div class="align-items-center justify-content-center champion-name" id="id_champion_name_5"></div>
        </div>

        <div class="col-1 py-1 text-center align-items-center justify-content-center border-r border-l">
            <img th:src="@{/images/all/vs.png}" class="img-fluid" alt="VS">
        </div>

        <div class="col-1 py-1 bg-red">
            <div class="align-items-center justify-content-center player-name" id="id_summoner_name_6"></div>
            <div id="id_div_avatar_6"><img src="" class="img-fluid" title="" id="id_avatar_6" alt="Игрок 6"></div>
            <div class="align-items-center justify-content-center champion-name" id="id_champion_name_6"></div>
        </div>
        <div class="col-1 py-1 bg-red">
            <div class="align-items-center justify-content-center player-name" id="id_summoner_name_7"></div>
            <div id="id_div_avatar_7"><img src="" class="img-fluid" title="" id="id_avatar_7" alt="Игрок 7"></div>
            <div class="align-items-center justify-content-center champion-name" id="id_champion_name_7"></div>
        </div>
        <div class="col-1 py-1 bg-red">
            <div class="align-items-center justify-content-center player-name" id="id_summoner_name_8"></div>
            <div id="id_div_avatar_8"><img src="" class="img-fluid" title="" id="id_avatar_8" alt="Игрок 8"></div>
            <div class="align-items-center justify-content-center champion-name" id="id_champion_name_8"></div>
        </div>
        <div class="col-1 py-1 bg-red">
            <div class="align-items-center justify-content-center player-name" id="id_summoner_name_9"></div>
            <div id="id_div_avatar_9"><img src="" class="img-fluid" title="" id="id_avatar_9" alt="Игрок 9"></div>
            <div class="align-items-center justify-content-center champion-name" id="id_champion_name_9"></div>
        </div>
        <div class="col-1 py-1 bg-red">
            <div class="align-items-center justify-content-center player-name" id="id_summoner_name_10"></div>
            <div id="id_div_avatar_10"><img src="" class="img-fluid" title="" id="id_avatar_10" alt="Игрок 10"></div>
            <div class="align-items-center justify-content-center champion-name" id="id_champion_name_10"></div>
        </div>
    </div>
</div>

<div class="container-fluid p-0 border-b param-text">
    <div class="container-fluid d-flex p-0">
        <div class="col-1 py-1 align-items-center justify-content-center border-r" id="id_ability_power">
            <img th:src="@{/images/parameters/ability_power.png}" title="Сила умений" class="img-fluid param-icon" alt="Сила умений">
        </div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_ability_power_1"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_ability_power_2"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_ability_power_3"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_ability_power_4"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_ability_power_5"></div>

        <div class="col-1 py-1 align-items-center justify-content-center border-r border-l" id="id_ability_power_diff"></div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_ability_power_6"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_ability_power_7"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_ability_power_8"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_ability_power_9"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_ability_power_10"></div>
    </div>
    <div class="container-fluid d-flex p-0">
        <div class="col-1 py-1 align-items-center justify-content-center border-r" id="id_attack_damage">
            <img th:src="@{/images/parameters/attack_damage.png}" title="Сила атаки" class="img-fluid param-icon" alt="Сила атаки">
        </div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_damage_1"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_damage_2"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_damage_3"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_damage_4"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_damage_5"></div>

        <div class="col-1 py-1 align-items-center justify-content-center border-r border-l" id="id_attack_damage_diff"></div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_damage_6"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_damage_7"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_damage_8"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_damage_9"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_damage_10"></div>
    </div>
    <div class="container-fluid d-flex p-0">
        <div class="col-1 py-1 align-items-center justify-content-center border-r" id="id_lifesteal">
            <img th:src="@{/images/parameters/life_steal.png}" title="Вампиризм" class="img-fluid param-icon" alt="Вампиризм">
        </div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_lifesteal_1"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_lifesteal_2"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_lifesteal_3"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_lifesteal_4"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_lifesteal_5"></div>

        <div class="col-1 py-1 align-items-center justify-content-center border-r border-l" id="id_lifesteal_diff"></div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_lifesteal_6"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_lifesteal_7"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_lifesteal_8"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_lifesteal_9"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_lifesteal_10"></div>
    </div>
    <div class="container-fluid d-flex p-0">
        <div class="col-1 py-1 align-items-center justify-content-center border-r" id="id_attack_speed">
            <img th:src="@{/images/parameters/attack_speed.png}" title="Скорость атаки" class="img-fluid param-icon" alt="Скорость атаки">
        </div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_speed_1"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_speed_2"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_speed_3"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_speed_4"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_speed_5"></div>

        <div class="col-1 py-1 align-items-center justify-content-center border-r border-l" id="id_attack_speed_diff"></div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_speed_6"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_speed_7"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_speed_8"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_speed_9"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_attack_speed_10"></div>
    </div>
    <div class="container-fluid d-flex p-0">
        <div class="col-1 py-1 align-items-center justify-content-center border-r" id="id_movement_speed">
            <img th:src="@{/images/parameters/movement_speed.png}" title="Скорость передвижения" class="img-fluid param-icon" alt="Скорость передвижения">
        </div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_movement_speed_1"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_movement_speed_2"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_movement_speed_3"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_movement_speed_4"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_movement_speed_5"></div>

        <div class="col-1 py-1 align-items-center justify-content-center border-r border-l" id="id_movement_speed_diff"></div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_movement_speed_6"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_movement_speed_7"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_movement_speed_8"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_movement_speed_9"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_movement_speed_10"></div>
    </div>
    <div class="container-fluid d-flex p-0">
        <div class="col-1 py-1 align-items-center justify-content-center border-r" id="id_armor">
            <img th:src="@{/images/parameters/armor.png}" title="Броня" class="img-fluid param-icon" alt="Броня">
        </div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_armor_1"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_armor_2"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_armor_3"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_armor_4"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_armor_5"></div>

        <div class="col-1 py-1 align-items-center justify-content-center border-r border-l" id="id_armor_diff"></div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_armor_6"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_armor_7"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_armor_8"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_armor_9"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_armor_10"></div>
    </div>
    <div class="container-fluid d-flex p-0">
        <div class="col-1 py-1 align-items-center justify-content-center border-r" id="id_magic_resist">
            <img th:src="@{/images/parameters/magic_resist.png}" title="Сопротивление магии" class="img-fluid param-icon" alt="Сопротивление магии">
        </div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_magic_resist_1"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_magic_resist_2"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_magic_resist_3"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_magic_resist_4"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_magic_resist_5"></div>

        <div class="col-1 py-1 align-items-center justify-content-center border-r border-l" id="id_magic_resist_diff"></div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_magic_resist_6"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_magic_resist_7"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_magic_resist_8"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_magic_resist_9"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_magic_resist_10"></div>
    </div>
    <div class="container-fluid d-flex p-0">
        <div class="col-1 py-1 align-items-center justify-content-center border-r" id="id_health_max">
            <img th:src="@{/images/parameters/health_max.png}" title="Максимальный запас здоровья" class="img-fluid param-icon" alt="Максимальный запас здоровья">
        </div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_health_max_1"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_health_max_2"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_health_max_3"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_health_max_4"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_health_max_5"></div>

        <div class="col-1 py-1 align-items-center justify-content-center border-r border-l" id="id_health_max_diff"></div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_health_max_6"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_health_max_7"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_health_max_8"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_health_max_9"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_health_max_10"></div>
    </div>
    <div class="container-fluid d-flex p-0">
        <div class="col-1 py-1 align-items-center justify-content-center border-r" id="id_power_max">
            <img th:src="@{/images/parameters/power_max.png}" title="Максимальнй запас маны" class="img-fluid param-icon" alt="Максимальный запас маны">
        </div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_power_max_1"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_power_max_2"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_power_max_3"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_power_max_4"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_power_max_5"></div>

        <div class="col-1 py-1 align-items-center justify-content-center border-r border-l" id="id_power_max_diff"></div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_power_max_6"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_power_max_7"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_power_max_8"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_power_max_9"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_power_max_10"></div>
    </div>
    <div class="container-fluid d-flex p-0">
        <div class="col-1 py-1 align-items-center justify-content-center border-r" id="id_kill">
            <img th:src="@{/images/parameters/kill.png}" title="Количество убийств" class="img-fluid param-icon" alt="Количество убийств">
        </div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_kill_1"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_kill_2"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_kill_3"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_kill_4"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_kill_5"></div>

        <div class="col-1 py-1 align-items-center justify-content-center border-r border-l" id="id_kill_diff"></div>

        <div class="col-1 py-1 align-items-center justify-content-center" id="id_kill_6"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_kill_7"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_kill_8"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_kill_9"></div>
        <div class="col-1 py-1 align-items-center justify-content-center" id="id_kill_10"></div>
    </div>
</div>

<script type="text/javascript">

var index = 0;
var imgIndex = 0;

var intervalId = setInterval(function() {
  $.ajax({
        type: "GET",
        url: "/local/status",
        data: jQuery.param({index: index}),

        success: function(response){
            if(!response.working){
                $('#title').html(
                    "Game not found"
                );
            }
            else{
                if (index == 0) {
                    $('#id_ability_power_diff').html(Math.round(parseFloat(response.abilityPower) * 1000) / 1000);
                    $('#id_attack_damage_diff').html(Math.round(parseFloat(response.attackDamage) * 1000) / 1000);
                    $('#id_lifesteal_diff').html(Math.round(parseFloat(response.lifesteal) * 1000) / 1000);
                    $('#id_attack_speed_diff').html(Math.round(parseFloat(response.attackSpeed) * 1000) / 1000);
                    $('#id_movement_speed_diff').html(Math.round(parseFloat(response.movementSpeed) * 1000) / 1000);
                    $('#id_armor_diff').html(Math.round(parseFloat(response.armor) * 1000) / 1000);
                    $('#id_magic_resist_diff').html(Math.round(parseFloat(response.magicResist) * 1000) / 1000);
                    $('#id_health_max_diff').html(Math.round(parseFloat(response.healthMax) * 1000) / 1000);
                    $('#id_power_max_diff').html(Math.round(parseFloat(response.powerMax) * 1000) / 1000);
                    $('#id_kill_diff').html(Math.round(parseFloat(response.kill) * 1000) / 1000);
                    $('#id_win_chance').html(response.winChance);
                }

                if (index == 1) {
                    $('#id_avatar_1').attr('title', response.summonerName);
                    $('#id_champion_name_1').html(response.championName);
                    $('#id_ability_power_1').html(Math.round(parseFloat(response.abilityPower) * 1000) / 1000);
                    $('#id_attack_damage_1').html(Math.round(parseFloat(response.attackDamage) * 1000) / 1000);
                    $('#id_lifesteal_1').html(Math.round(parseFloat(response.lifesteal) * 1000) / 1000);
                    $('#id_attack_speed_1').html(Math.round(parseFloat(response.attackSpeed) * 1000) / 1000);
                    $('#id_movement_speed_1').html(Math.round(parseFloat(response.movementSpeed) * 1000) / 1000);
                    $('#id_armor_1').html(Math.round(parseFloat(response.armor) * 1000) / 1000);
                    $('#id_magic_resist_1').html(Math.round(parseFloat(response.magicResist) * 1000) / 1000);
                    $('#id_health_max_1').html(Math.round(parseFloat(response.healthMax) * 1000) / 1000);
                    $('#id_power_max_1').html(Math.round(parseFloat(response.powerMax) * 1000) / 1000);
                    $('#id_kill_1').html(Math.round(parseFloat(response.kill) * 1000) / 1000);
                    setChampIcon(response.rawChampionName, index);
                }

                if (index == 2) {
                    $('#id_avatar_2').attr('title', response.summonerName);
                    $('#id_champion_name_2').html(response.championName);
                    $('#id_ability_power_2').html(Math.round(parseFloat(response.abilityPower) * 1000) / 1000);
                    $('#id_attack_damage_2').html(Math.round(parseFloat(response.attackDamage) * 1000) / 1000);
                    $('#id_lifesteal_2').html(Math.round(parseFloat(response.lifesteal) * 1000) / 1000);
                    $('#id_attack_speed_2').html(Math.round(parseFloat(response.attackSpeed) * 1000) / 1000);
                    $('#id_movement_speed_2').html(Math.round(parseFloat(response.movementSpeed) * 1000) / 1000);
                    $('#id_armor_2').html(Math.round(parseFloat(response.armor) * 1000) / 1000);
                    $('#id_magic_resist_2').html(Math.round(parseFloat(response.magicResist) * 1000) / 1000);
                    $('#id_health_max_2').html(Math.round(parseFloat(response.healthMax) * 1000) / 1000);
                    $('#id_power_max_2').html(Math.round(parseFloat(response.powerMax) * 1000) / 1000);
                    $('#id_kill_2').html(Math.round(parseFloat(response.kill) * 1000) / 1000);
                    setChampIcon(response.rawChampionName, index);
                }

                if (index == 3) {
                    $('#id_avatar_3').attr('title', response.summonerName);
                    $('#id_champion_name_3').html(response.championName);
                    $('#id_ability_power_3').html(Math.round(parseFloat(response.abilityPower) * 1000) / 1000);
                    $('#id_attack_damage_3').html(Math.round(parseFloat(response.attackDamage) * 1000) / 1000);
                    $('#id_lifesteal_3').html(Math.round(parseFloat(response.lifesteal) * 1000) / 1000);
                    $('#id_attack_speed_3').html(Math.round(parseFloat(response.attackSpeed) * 1000) / 1000);
                    $('#id_movement_speed_3').html(Math.round(parseFloat(response.movementSpeed) * 1000) / 1000);
                    $('#id_armor_3').html(Math.round(parseFloat(response.armor) * 1000) / 1000);
                    $('#id_magic_resist_3').html(Math.round(parseFloat(response.magicResist) * 1000) / 1000);
                    $('#id_health_max_3').html(Math.round(parseFloat(response.healthMax) * 1000) / 1000);
                    $('#id_power_max_3').html(Math.round(parseFloat(response.powerMax) * 1000) / 1000);
                    $('#id_kill_3').html(Math.round(parseFloat(response.kill) * 1000) / 1000);
                    setChampIcon(response.rawChampionName, index);
                }

                if (index == 4) {
                    $('#id_avatar_4').attr('title', response.summonerName);
                    $('#id_champion_name_4').html(response.championName);
                    $('#id_ability_power_4').html(Math.round(parseFloat(response.abilityPower) * 1000) / 1000);
                    $('#id_attack_damage_4').html(Math.round(parseFloat(response.attackDamage) * 1000) / 1000);
                    $('#id_lifesteal_4').html(Math.round(parseFloat(response.lifesteal) * 1000) / 1000);
                    $('#id_attack_speed_4').html(Math.round(parseFloat(response.attackSpeed) * 1000) / 1000);
                    $('#id_movement_speed_4').html(Math.round(parseFloat(response.movementSpeed) * 1000) / 1000);
                    $('#id_armor_4').html(Math.round(parseFloat(response.armor) * 1000) / 1000);
                    $('#id_magic_resist_4').html(Math.round(parseFloat(response.magicResist) * 1000) / 1000);
                    $('#id_health_max_4').html(Math.round(parseFloat(response.healthMax) * 1000) / 1000);
                    $('#id_power_max_4').html(Math.round(parseFloat(response.powerMax) * 1000) / 1000);
                    $('#id_kill_4').html(Math.round(parseFloat(response.kill) * 1000) / 1000);
                    setChampIcon(response.rawChampionName, index);
                }

                if (index == 5) {
                    $('#id_avatar_5').attr('title', response.summonerName);
                    $('#id_champion_name_5').html(response.championName);
                    $('#id_ability_power_5').html(Math.round(parseFloat(response.abilityPower) * 1000) / 1000);
                    $('#id_attack_damage_5').html(Math.round(parseFloat(response.attackDamage) * 1000) / 1000);
                    $('#id_lifesteal_5').html(Math.round(parseFloat(response.lifesteal) * 1000) / 1000);
                    $('#id_attack_speed_5').html(Math.round(parseFloat(response.attackSpeed) * 1000) / 1000);
                    $('#id_movement_speed_5').html(Math.round(parseFloat(response.movementSpeed) * 1000) / 1000);
                    $('#id_armor_5').html(Math.round(parseFloat(response.armor) * 1000) / 1000);
                    $('#id_magic_resist_5').html(Math.round(parseFloat(response.magicResist) * 1000) / 1000);
                    $('#id_health_max_5').html(Math.round(parseFloat(response.healthMax) * 1000) / 1000);
                    $('#id_power_max_5').html(Math.round(parseFloat(response.powerMax) * 1000) / 1000);
                    $('#id_kill_5').html(Math.round(parseFloat(response.kill) * 1000) / 1000);
                    setChampIcon(response.rawChampionName, index);
                }

                if (index == 6) {
                    $('#id_avatar_6').attr('title', response.summonerName);
                    $('#id_champion_name_6').html(response.championName);
                    $('#id_ability_power_6').html(Math.round(parseFloat(response.abilityPower) * 1000) / 1000);
                    $('#id_attack_damage_6').html(Math.round(parseFloat(response.attackDamage) * 1000) / 1000);
                    $('#id_lifesteal_6').html(Math.round(parseFloat(response.lifesteal) * 1000) / 1000);
                    $('#id_attack_speed_6').html(Math.round(parseFloat(response.attackSpeed) * 1000) / 1000);
                    $('#id_movement_speed_6').html(Math.round(parseFloat(response.movementSpeed) * 1000) / 1000);
                    $('#id_armor_6').html(Math.round(parseFloat(response.armor) * 1000) / 1000);
                    $('#id_magic_resist_6').html(Math.round(parseFloat(response.magicResist) * 1000) / 1000);
                    $('#id_health_max_6').html(Math.round(parseFloat(response.healthMax) * 1000) / 1000);
                    $('#id_power_max_6').html(Math.round(parseFloat(response.powerMax) * 1000) / 1000);
                    $('#id_kill_6').html(Math.round(parseFloat(response.kill) * 1000) / 1000);
                    setChampIcon(response.rawChampionName, index);
                }

                if (index == 7) {
                    $('#id_avatar_7').attr('title', response.summonerName);
                    $('#id_champion_name_7').html(response.championName);
                    $('#id_ability_power_7').html(Math.round(parseFloat(response.abilityPower) * 1000) / 1000);
                    $('#id_attack_damage_7').html(Math.round(parseFloat(response.attackDamage) * 1000) / 1000);
                    $('#id_lifesteal_7').html(Math.round(parseFloat(response.lifesteal) * 1000) / 1000);
                    $('#id_attack_speed_7').html(Math.round(parseFloat(response.attackSpeed) * 1000) / 1000);
                    $('#id_movement_speed_7').html(Math.round(parseFloat(response.movementSpeed) * 1000) / 1000);
                    $('#id_armor_7').html(Math.round(parseFloat(response.armor) * 1000) / 1000);
                    $('#id_magic_resist_7').html(Math.round(parseFloat(response.magicResist) * 1000) / 1000);
                    $('#id_health_max_7').html(Math.round(parseFloat(response.healthMax) * 1000) / 1000);
                    $('#id_power_max_7').html(Math.round(parseFloat(response.powerMax) * 1000) / 1000);
                    $('#id_kill_7').html(Math.round(parseFloat(response.kill) * 1000) / 1000);
                    setChampIcon(response.rawChampionName, index);
                }

                if (index == 8) {
                    $('#id_avatar_8').attr('title', response.summonerName);
                    $('#id_champion_name_8').html(response.championName);
                    $('#id_ability_power_8').html(Math.round(parseFloat(response.abilityPower) * 1000) / 1000);
                    $('#id_attack_damage_8').html(Math.round(parseFloat(response.attackDamage) * 1000) / 1000);
                    $('#id_lifesteal_8').html(Math.round(parseFloat(response.lifesteal) * 1000) / 1000);
                    $('#id_attack_speed_8').html(Math.round(parseFloat(response.attackSpeed) * 1000) / 1000);
                    $('#id_movement_speed_8').html(Math.round(parseFloat(response.movementSpeed) * 1000) / 1000);
                    $('#id_armor_8').html(Math.round(parseFloat(response.armor) * 1000) / 1000);
                    $('#id_magic_resist_8').html(Math.round(parseFloat(response.magicResist) * 1000) / 1000);
                    $('#id_health_max_8').html(Math.round(parseFloat(response.healthMax) * 1000) / 1000);
                    $('#id_power_max_8').html(Math.round(parseFloat(response.powerMax) * 1000) / 1000);
                    $('#id_kill_8').html(Math.round(parseFloat(response.kill) * 1000) / 1000);
                    setChampIcon(response.rawChampionName, index);
                }

                if (index == 9) {
                    $('#id_avatar_9').attr('title', response.summonerName);
                    $('#id_champion_name_9').html(response.championName);
                    $('#id_ability_power_9').html(Math.round(parseFloat(response.abilityPower) * 1000) / 1000);
                    $('#id_attack_damage_9').html(Math.round(parseFloat(response.attackDamage) * 1000) / 1000);
                    $('#id_lifesteal_9').html(Math.round(parseFloat(response.lifesteal) * 1000) / 1000);
                    $('#id_attack_speed_9').html(Math.round(parseFloat(response.attackSpeed) * 1000) / 1000);
                    $('#id_movement_speed_9').html(Math.round(parseFloat(response.movementSpeed) * 1000) / 1000);
                    $('#id_armor_9').html(Math.round(parseFloat(response.armor) * 1000) / 1000);
                    $('#id_magic_resist_9').html(Math.round(parseFloat(response.magicResist) * 1000) / 1000);
                    $('#id_health_max_9').html(Math.round(parseFloat(response.healthMax) * 1000) / 1000);
                    $('#id_power_max_9').html(Math.round(parseFloat(response.powerMax) * 1000) / 1000);
                    $('#id_kill_9').html(Math.round(parseFloat(response.kill) * 1000) / 1000);
                    setChampIcon(response.rawChampionName, index);
                }

                if (index == 10) {
                    $('#id_avatar_10').attr('title', response.summonerName);
                    $('#id_champion_name_10').html(response.championName);
                    $('#id_ability_power_10').html(Math.round(parseFloat(response.abilityPower) * 1000) / 1000);
                    $('#id_attack_damage_10').html(Math.round(parseFloat(response.attackDamage) * 1000) / 1000);
                    $('#id_lifesteal_10').html(Math.round(parseFloat(response.lifesteal) * 1000) / 1000);
                    $('#id_attack_speed_10').html(Math.round(parseFloat(response.attackSpeed) * 1000) / 1000);
                    $('#id_movement_speed_10').html(Math.round(parseFloat(response.movementSpeed) * 1000) / 1000);
                    $('#id_armor_10').html(Math.round(parseFloat(response.armor) * 1000) / 1000);
                    $('#id_magic_resist_10').html(Math.round(parseFloat(response.magicResist) * 1000) / 1000);
                    $('#id_health_max_10').html(Math.round(parseFloat(response.healthMax) * 1000) / 1000);
                    $('#id_power_max_10').html(Math.round(parseFloat(response.powerMax) * 1000) / 1000);
                    $('#id_kill_10').html(Math.round(parseFloat(response.kill) * 1000) / 1000);
                    setChampIcon(response.rawChampionName, index);
                }
            }
         }
    });

    index++;
    if(index > 10){
        index = 0;
    }
}, 250);



function setChampIcon(champName, index){
      $('#id_avatar_' + index).attr('src',"/images/champions/" + champName + ".webp");
}


</script>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

<style>
    .bg-body {
        background-color: #cac5e9;
    }

    .bg-red {
        background-color: #9c2020;
    }

    .bg-blue {
        background-color: #4228af;
    }

    .header {
        background-color: #aaa3d5;
    }

    .header-title-percent {
        color: #570267
        font-size: 18px;
    }

    .header-table-title {
        border-top: 4px solid #570267;
        border-bottom: 4px solid #570267;
    }

    .border-r {
        border-right: 4px solid #570267;
    }

    .border-l {
        border-left: 4px solid #570267;
    }

    .border-b {
        border-bottom: 4px solid #570267;
    }

    .align-items-center {
        display: flex;
        align-items: center;
    }

    .player-name {
        color: #cab1d7;
        padding-bottom: 5px;
        font-size: 18px;
    }

    .champion-name {
        color: #cab1d7;
        padding-top: 5px;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }

    .param-text {
        font-size: 17.5px;
        overflow: hidden
    }

    .param-icon {
        width: auto;
        height: 15px;
    }

    .header-title-percent {
        margin-top: 20px;
        font-size: 30px;
        color: #570267;
    }
</style>